{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="bienvenida">
        <div class="container">
            
            <h2>Bienvenido a "Reseñas de Libros"</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt quam vel nisi ultricies, eu placerat felis sodales. Integer auctor arcu vel magna commodo, sit amet lobortis nulla fermentum. Nullam euismod sapien non tortor sagittis, eget sodales dui facilisis. Phasellus eu lorem quis ligula cursus auctor eget a erat. Vestibulum nec nulla nec arcu faucibus congue. Vestibulum sodales sollicitudin neque, sit amet condimentum tortor pharetra sit amet. Fusce id odio felis. Integer non pharetra turpis.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt quam vel nisi ultricies, eu placerat felis sodales. Integer auctor arcu vel magna commodo, sit amet lobortis nulla fermentum. Nullam euismod sapien non tortor sagittis, eget sodales dui facilisis. Phasellus eu lorem quis ligula cursus auctor eget a erat. Vestibulum nec nulla nec arcu faucibus congue. Vestibulum sodales sollicitudin neque, sit amet condimentum tortor pharetra sit amet. Fusce id odio felis. Integer non pharetra turpis.</p>
        </div>            

    </content>
</div>
{% endblock %}